<label for="filingType">Type of filing</label>
<div class="radio-option row-md-12">
    <div class="d-flex align-items-center">
        <input type="radio" name="filingType"  value="Ordinory Filing" (change)="onchange('0')">
        <span class="ml-2">Ordinory Filing</span>
    </div>
    <div class="d-flex align-items-center ml-4">
        <input type="radio" name="filingType" value="Additional Filing" (change)="onchange('1')">
        <span class="ml-2">Additional Filing</span>
    </div>
</div>