<nav class="row md-12">
    <div class="nav-head col-md-5 ml-5">
        <h2>RD | SVE</h2>
    </div>
    <div class="nav-items col-md-6 d-flex justify-content-end">
        <label>Time in Thailand: 15:57 (GMT+7) | 1st October 2021</label>
        <i class="bi bi-person-circle mr-2 ml-3"></i>
        <label>Lorem Co Ltd.</label>
        <i class="bi bi-caret-down-fill ml-2"></i>
    </div>
</nav>
<div class="container">
    <label class="texth d-flex justify-content-center">Submit Tax Filing</label>
    <div>
        <i class="bi bi-1-circle">
        </i><label>Input Detail</label>
    </div>

    <div class="taxall">
        <h2>1. Tax Filing Detail</h2>
        <hr />

        <app-filing-type [(value)] ="TaxData.filingType"></app-filing-type>

        <label>VAT Month</label>
        <div class="mb-4">
            <app-month [(value)] ="TaxData.month" [year]="TaxData.year"></app-month>
            <app-year [(value)] ="TaxData.year"></app-year>
        </div>
        <div class="row-md-12">
            <h2 class="">2. Tax Compution</h2>
            <a class="d-flex justify-content-end" href="#">View Exchange Rate</a>
        </div>
        <hr />
        <label class="mb-4">Provide total value taxable electronic service</label><span class="text-danger">*</span>
        <div class="row align-items-center mb-4 ml-2">
            <div class="col-md-9">
                <label>1.Total value of taxable electronic service exclusive of VAT</label>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <app-sale-amount [(value)] ="TaxData.saleAmount" (taxAmountChange) = "onTaxAmountChange($event)"></app-sale-amount>
            </div>
        </div>
        <div class="row align-items-center mb-4 ml-2">
            <div class="col-md-9">
                <label>2.Total VAT to be remitted (7% of 1.)</label>

            </div>
            <div class="col-md-3">
                <input type="number" class="form-control" />
            </div>
        </div>


        <div>
            <p>In case of late filing and payment, or additional filing</p>
                <div class="row align-items-center mb-4 ml-2">
                    <label class="col-md-9">3.Surcharge</label>
                    <div class="input-group col-md-3">
                        <input type="number" class="form-control" placeholder="0.00" disabled />
                    </div>
                </div>

                <div class="row align-items-center mb-4 ml-2">
                    <label class="col-md-9">4.Pentalty</label>
                    <div class="input-group col-md-3">
                        <input type="number" class="form-control" placeholder="0.00" disabled />
                    </div>
                </div>

                <div class="row align-items-center mb-4 ml-2">
                    <label class="col-md-9">5.Total amount of VAT, surcharge, and pentalty of be remitted (2.+3.+4.)</label>
                    <div class="input-group col-md-3">
                        <input type="number" class="form-control" placeholder="0.00" disabled />
                    </div>
                </div>
        </div>



    </div>

    <button class="btn btn-secondary">Back</button>
    <button class="btn btn-success">Next</button>
    <button class="btn btn-primary">Confirm and Submit</button>

</div>