<nav class="row md-12">
    <div class="nav-head col-md-5 ml-5">
        <h2>RD | SVE</h2>
    </div>
    <div class="nav-items col-md-6 d-flex justify-content-end">
        <label>Time in Thailand: 15:57 (GMT+7) | 1st October 2021</label>
        <i class="bi bi-person-circle mr-2 ml-3"></i>
        <label>Lorem Co Ltd.</label>
        <i class="bi bi-caret-down-fill ml-2"></i>
    </div>
</nav>
<div class="container" *ngIf="!showReview">
    <label class="texth d-flex justify-content-center">Submit Tax Filing</label>
    <div>
        <i class="bi bi-1-circle">
        </i><label>Input Detail</label>
    </div>

    <div class="taxall">
        <h2>1. Tax Filing Detail</h2>
        <hr />

        <app-filing-type [(value)]="TaxData.filingType"></app-filing-type>


        <div class="mb-4">
            <div>
                <label>VAT Month</label>
                <app-month [(value)]="TaxData.month" [year]="TaxData.year"></app-month>
            </div>
            <div>
                <label>VAT Month</label>
                <app-year [(value)]="TaxData.year"></app-year>
            </div>
            <div class="form-group mb-3" *ngIf="changeFiling">
                <label>Type</label>
                <select class="form-select ml-3" [(ngModel)]="TaxData.Type">
                    <option value="">--Select Type --</option>
                    <option value="on-Time">on-Time</option>
                    <option value="late">Late</option>
                </select>
            </div>
        </div>
        <div class="row-md-12">
            <h2 class="">2. Tax Compution</h2>
            <a class="d-flex justify-content-end" href="#">View Exchange Rate</a>
        </div>
        <hr />
        <label class="mb-4">Provide total value taxable electronic service</label><span class="text-danger">*</span>
        <div class="row align-items-center mb-4 ml-2">
            <div class="col-md-9">
                <label>1.Total value of taxable electronic service exclusive of VAT</label>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <app-sale-amount [(value)]="TaxData.saleAmount"
                    (taxAmountChange)="onTaxAmount($event)"></app-sale-amount>
            </div>
        </div>
        <div class="row align-items-center mb-4 ml-2">
            <div class="col-md-9">
                <label>2.Total VAT to be remitted (7% of 1.)</label>

            </div>
            <div class="col-md-3">
                <app-tax-amount [(value)]="TaxData.taxAmount" (isValueChange)="amountValue = $event"
                    [saleTaxAmount]="calculateTax"></app-tax-amount>
            </div>
        </div>


        <div *ngIf="changeFiling">
            <p>In case of late filing and payment, or additional filing</p>
            <div class="row align-items-center mb-4 ml-2">
                <label class="col-md-9">3.Surcharge</label>
                <div class="input-group col-md-3">
                    <app-surcharge [taxAmount]="TaxData.taxAmount"
                        (surchargeChange)="onSurCharge($event)"></app-surcharge>
                </div>
            </div>

            <div class="row align-items-center mb-4 ml-2">
                <label class="col-md-9">4.Pentalty</label>
                <div class="input-group col-md-3">
                    <app-penalty (penaltyChange)="onPenaltyChange($event)"></app-penalty>
                </div>
            </div>

            <div class="row align-items-center mb-4 ml-2">
                <label class="col-md-9">5.Total amount of VAT, surcharge, and pentalty of be remitted (2.+3.+4.)</label>
                <div class="input-group col-md-3">
                    <app-total-amount [taxAmount]="TaxData.taxAmount" [surcharge]="TaxData.surcharge"
                        [penalty]="TaxData.penalty" (totalChange)="onTotalAmountChange($event)"></app-total-amount>
                </div>
            </div>
        </div>



    </div>
    <button class="btn btn-success" (click)="onNext()">Next</button>

</div>

<div *ngIf="showReview">
    <label class="texth d-flex justify-content-center">Submit Tax Filing</label>
    <div>
        <i class="bi bi-1-circle">
        </i><label>Input Detail</label>
    </div>

    <div class="taxall">
        <h2>Tax Filing Detail</h2>
        <hr />

        <div class="mb-4">
            <div>
                <label> Type Of Filing</label>
                <label  class="ml-2">{{ TaxData.filingType === '1' ? 'Additional Filing' : 'Ordinary Filing' }}</label>
            </div>
            <div>
                <label>VAT Month</label>
                <label class="ml-3"> {{ TaxData.month }} {{ TaxData.year }} </label>
            </div>
            <h2 class="">Tax Computation</h2>
            <hr />
            <div class="d-flex justify-content-between mt-3">
                <span><strong>Total value of taxable electronic service exclusive of VAT</strong></span>
                <label>{{ TaxData.saleAmount | number:'1.2-2' }} &nbsp;&nbsp;THB</label>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <span>
                    <strong>Total VAT to be remitted</strong><br />
                    <small class="text-muted">(7% of Total value of taxable electronic service exclusive of VAT)</small>
                </span>
                <span>{{ TaxData.taxAmount | number:'1.2-2'  }} &nbsp;&nbsp;THB</span>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <span class="mr-2"><strong>Total Amount Payable</strong></span>
                <span class="font-weight-bold">{{ TaxData.totalAmount || TaxData.taxAmount | number:'1.2-2'  }} &nbsp;&nbsp;THB</span>
            </div>

            <h4><strong>Declaration</strong></h4>
            <hr />
            <p>
                I hereby certify that information given above are true and correct and agree to be bound by such
                information.
            </p>

        </div>
        <button class="btn btn-secondary" (click)="onBack()">Back</button>
        <div>
            <button class="btn btn-dark">Confirm and Submit</button>
        </div>
    </div>
</div>


