<nav class="row md-12">
    <div class="nav-head col-md-5 ml-5">
        <h2>RD | SVE</h2>
    </div>
    <div class="nav-items col-md-6 d-flex justify-content-end">
        <label>Time in Thailand: 15:57 (GMT+7) | 1st October 2021</label>
        <i class="bi bi-person-circle mr-2 ml-3"></i>
        <label>Lorem Co Ltd.</label>
        <i class="bi bi-caret-down-fill ml-2"></i>
    </div>
</nav>
<div class="container">
    <label class="texth d-flex justify-content-center">Submit Tax Filing</label>
    <div>
        <i class="bi bi-1-circle">
        </i><label>Input Detail</label>
    </div>

    <div class="taxall">
        <h2>1. Tax Filing Detail</h2>
        <hr />

        <label>Type of filing</label>
        <div class="radio-option row-md-12">
            <div class="d-flex align-items-center">
                <input type="radio" name="filingType" value="0">
                <span class="ml-2">Ordinory Filing</span>
            </div>
            <div class="d-flex align-items-center ml-4">
                <input type="radio" name="filingType" value="1">
                <span class="ml-2">Additional Filing</span>
            </div>
        </div>

        <label>VAT Month</label>
        <div class="mb-4">
            <select class="form-select">
                <option value="0">January</option>
                <option value="1">February</option>
                <option value="2">March</option>
                <option value="3">April</option>
                <option value="4">May</option>
                <option value="5">June</option>
                <option value="6">July</option>
                <option value="7">August</option>
                <option value="8">September</option>
                <option value="9">October</option>
                <option value="10">November</option>
                <option value="11">December</option>
            </select>
            <select class="form-select ml-3">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
        </div>
        <div class="row-md-12">
            <h2 class="">2. Tax Compution</h2>
            <a class="d-flex justify-content-end" href="#">View Exchange Rate</a>
        </div>
        <hr />
        <label class="mb-4">Provide total value taxable electronic service</label><span class="text-danger">*</span>
        <div class="row align-items-center mb-4 ml-2">
            <div class="col-md-9">
                <label>1.Total value of taxable electronic service exclusive of VAT</label>
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <input type="number" class="form-control"/>
            </div>
        </div>
        <div class="row align-items-center mb-4 ml-2">
            <div class="col-md-9">
                <label>2.Total VAT to be remitted (7% of 1.)</label>

            </div>
            <div class="col-md-3">
                <input type="number" class="form-control"/>
            </div>
        </div>


        <div>
            
        </div>



    </div>

</div>